
$font-color: #572444;

@font-face{
  font-family: 'h1Font';
  src: url('../src/assets/font/PTSerif-Bold.ttf');

}

@mixin buttonStyle{
         border: 2px solid #111;
        padding: 0.8rem 1rem ;
        border-radius: 50px;
        font-size: 0.9rem;
        font-weight: 600;
        font-family: 'firstFont';
        transform: translateY(-40%);

        .arrow {
            
            background: $font-color;
            color: #fff;
            padding: 10px;
            border-radius: 50px;
            margin-right: -10px;
            margin-left: 1.5rem;
        }
}


.main-home{
    width: 100%;
    // height: 100%;
    overflow: hidden;
    // padding: 1rem;
    
    .header-section{
          position: relative;
          background: linear-gradient(#f9e3f1, #fdeffd, #fffdff );
          background-repeat: no-repeat;
         .section-1{
            // width: 100vw;
            padding: 0 5rem;
            overflow: hidden;
                .child-div-1{

                    h1{
                        font-family: 'h1Font';
                        font-size: 6rem;
                        line-height: 6rem;
                        color: $font-color;

                    

                        .str{
                            width: 4vw;
                            display: inline-block;
                            margin-left: 7rem;

                            img{
                                width: 3vw;
                                margin-bottom: -1rem;
                            }
                        }

                        button{
                            @include buttonStyle;  
                        }
                    }

                    p{
                        text-align: center;
                        font-size: 1.2rem;
                        margin-top: -2rem;
                        bold{
                            font-weight: 600;
                        }
                    }
                }

                .header-bottom{
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    gap: 1rem;
                    margin-top: 4rem;
                    margin-bottom: -5rem;
                    
                    .bt-left{
                        width: 13vw;
                        .left-img{
                        
                            img{
                                width: 3vw;
                                height: 3vw;
                                object-fit: cover;
                                border-radius: 50%;
                            }

                            .img-2{
                                margin-left: -0.5rem;
                            }
                        }

                    
                        h3{
                            line-height: 25px;
                            margin: 0.7rem 0;
                            color: #572444;
                        }
                        p{
                            font-size: 13px;
                            margin: 0.7rem 0;
                            font-weight: 600;
                            color: #431331;
                        }
                        
                    }

                    .bt-center {
                        display: flex;
                        align-items: center;
                        justify-content: center; /* সবকিছু হরিজন্টালি সেন্টারে */
                        

                        .ctn-iamge {
                            // position: relative; /* ভেতরের absolute child গুলো ধরে রাখবে */
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            height: 60vh;
                            

                            img {
                                max-width: 100%;
                                // height: 110%;
                            }

                            /* Left Image */
                            .ctn-img-1 {
                                margin-right: -24.5rem; /* প্রয়োজনে কম-বেশি করো */
                                z-index: 1;
                            }

                            /* Middle Image */
                            .ctn-img-2 {
                                margin-top: -2rem;
                                height: 110% ;
                                z-index: 2; /* সবসময় উপরে থাকবে */
                                // position: relative;
                        

                            }

                            /* Right Image */
                            .ctn-img-3 {
                                margin-left: -23.5rem; /* প্রয়োজনে কম-বেশি করো */
                                z-index: 1;
                            }
                        }
                        }

                    .bt-right{
                        transform: translateY(-50%);
                        i{
                            color:#ffa1d5;
                            background-color: #fff;
                            padding: 1rem;
                            border-radius: 50%;
                            font-size: 1.3rem;
                        }
                        p{
                            font-weight: 600;
                        }

                        .btn{
                            button{
                                color: #111;
                                padding: 0.6rem 1rem;
                                margin: 0.2rem;
                                border-radius: 50px;
                                border:none;
                                outline: none;
                                text-transform: uppercase;
                                font-weight: 700;
                                font-family: firstFont;
                            }
                            .btn-1{
                                background-color:#e3c7d8
                            }
                            .btn-2{
                                background-color:#f5b864
                            }
                            .btn-3{
                                background-color:#ffa1d5;
                                color: #5c0e3e
                            }
                            .btn-4{
                                background-color:#87d1f0
                            }
                        }
                    }

                }
            }

        .section-2{
            width: 96vw;
            height: 10%;
            overflow: hidden;
            background: #ffffff;
            border-top: 1px solid #3e3e3e;
            // margin-top: -6.6rem;
            // z-index: 99999;
            // position: absolute;


            .wrapper{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column ;
                gap: 5rem;
                // padding-bottom: 10rem;
                overflow:hidden;
                

                .left-div{
                    margin: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 5rem;
                
                    img{
                        width: 90vw;
                        // margin-bottom: -10rem;
                        // margin-left: -4rem;
                        transform: rotate(-15deg);
                    }
                }

                
                .center-div{
                    position: absolute;
                    // width:34vw;
                    text-align: center;
                    margin-top: 2rem;
                    // padding-top: 5rem;
                    z-index: 999;


                    small{
                        background-color: #e3c9d8;
                        padding: 0.3rem 1rem;
                        border-radius: 50px;
                        font-size: 0.9rem;
                        font-weight: 600;
                    }


                    h1{
                        font-family: 'h1Font';
                        font-size: 3rem;
                        color: $font-color;
                        line-height: 3rem;
                        margin: 1rem 0;

                    }

                    p{
                        color: #28091a;
                        font-weight: 600;
                        font-size: 1.1rem;
                        text-align: center;
                        padding: 0 2rem;
                    }


                    img{
                        position: absolute;
                        width: 20vw;
                    }
                    .image-1{
                        bottom: 7rem;
                        right: 1rem;
                    }

                    .image-2{
                        text-align: center;
                        top: -4rem;
                        right: 35vw;

                    }


                    button{
                        @include buttonStyle;
                        margin-top: 10rem;
                    }

                }


                .right-div{
                    
                img{
                    width: 90vw;
                    margin-top: -7rem;
                    margin-right: -15rem;
                    transform: rotate(20deg);
                }
                }
            }

            
        }
    }

   

    // section-3 theke responsive design kora holo first aproch with phone
    
    .section-3{
        width: 96vw;
        margin-top: 4rem;
        h1{
            font-size: 1.6rem;
            margin-bottom: 0;
            color:#431331;
            text-align: center;
        }

        .Expire{
            display: flex;
            align-items: center;
            justify-content: center;
            // gap: 1.9rem;
            margin-bottom: 2rem;
            padding-top: 0rem;

            img{
                width: 13vw;
                padding: 0;
            }
            p{
                font-size: 1.1rem;
                font-weight: 500;
                margin-top: 0.5rem;
            }
        }

        .flavor-card{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 1rem;

            .card{
                
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                span{
                    border-radius: 50px;
                    background: #fff;
                    padding: 0 1rem;
                    margin-top: 1rem; 
                    margin-right: -15rem;
                    font-size: 1.2rem;

                    i{
                        color: orange;
                        margin-left: -0.5rem;
                    }
                }
                
                button{
                    padding: 1rem;
                    font-size: 1rem;
                    font-family: 'firstFont';
                    font-weight: 600;
                    border: none;
                    margin-top: -5rem;
                    width: 80%;
                    margin-bottom: 1rem;
                    cursor: pointer;

                    
                }
                
            }

            .card-1{
                background-color: #5c76f3;
            }
            .card-2{
                background-color: #d8973a;
            }
            .card-3{
                background-color: #f35cb2;
            }
        }
    }

    .section-4{
        margin-top: 5rem;

        .section4-main{
            .section4-leftBox{
                 .parent-1{
                    padding: 0 1rem;
                    span{
                        background: #e3c7d8;
                        padding: 0.5rem 1rem;
                        border-radius: 50px;
                        font-weight: 600;
                        
                    }
                    h1{
                        font-size: 1.9rem;
                        color:#431331;
                        margin:  0.7rem 0 ; 
                        text-align: left;
                    }
                    h3{
                        color: #28091a;
                        margin: 0;
                        padding: 0;
                    }
                    p{
                        padding-top: 0.7rem;
                        font-size: 1rem;
                        font-weight: 700;
                        margin: 0;
                    }
                }

                .parent-2{

                    .flower{
                        width: 30vw;
                        transform: translateX(70vw);
                        margin-bottom: -3rem;
                    }

                    .bg-img{
                        width: 100vw;
                    }

                    button{
                        // z-index: 999;
                        margin-top: -5rem;
                        position: absolute;
                        transform: translateX(40vw);
                        border: 2px solid #111;
                        padding: 0.8rem 1rem ;
                        border-radius: 50px;
                        font-size: 1rem;
                        font-weight: 800;
                        font-family: 'firstFont';
                        // transform: translateY(-40%);

                        .arrow {
                                        
                            background: $font-color;
                            color: #fff;
                            padding: 10px;
                            border-radius: 50px;
                            margin-right: -10px;
                            margin-left: 1.5rem;
                        }
            
                    }
                }
            }


            .section4-rightBox{
                display: none;
            }

        }

    }


    .section-5{
        margin-top: 3rem;

        .section5-parant{
            width: 96vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;



            .section5-child-1{
                width: 100vw;
                padding: 0 3rem;
                .sec5-imgIcon{
                    text-align: center;
                    font-size: 4rem;
                }

                .sec5-textIcon{
                    
                    text-align: center;
                    margin-top: -2rem;
                    span{
                        width: 8rem;
                        text-align: center;
                        background: #f5b864;
                        padding: 0.4rem;
                        font-weight: 600;
                        font-size: 0.9rem;
                        margin-top: -2rem;
                        text-transform: uppercase;
                        border-radius: 50px;
                    }
                    
                }

                .sec5-title{
                    
                    h1{
                        font-size: 1.6rem;
                        text-align: left;
                        margin-top: 2rem;
                        color:#431331;
                        padding: 0 0.9rem;
                    }
                }

                .image-text{
                    display: flex;
                    align-items: center;
                    gap: 1.2rem;
                    margin-top: 1.5rem;

                    .left-img{
                        padding: 0 0.8rem;
                        img{
                            width: 13vw;
                            // height: 8vh;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }

                    .right-text{
                        font-weight: 600;
                        p{
                            margin: 0;
                            font-size: 1.2rem;
                            color: #431331;
                        }
                        span{
                            font-size: 1rem;
                        }
                    }
                }
            }

            .section5-child2{
                width: 100vw;
                margin-top: 3rem;
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    // .section-6{
    //     // width: 100vw;
    //     margin-top: 3rem;
    //     .image-gallary{
    //         .img-topText{
    //             width: 96vw;
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;
    //             gap: 2rem;

    //             .title1{
    //                 font-weight: 500;
    //                 background: #f9a1d3;
    //                 padding: 0.4rem 0.8rem;
    //                 border-radius: 50px;
    //             }

    //             .title2{
    //                h1{
    //                 color: #431331;
    //                 font-size: 1.5rem;
    //                }
    //             }
    //         }

    //         .imageGallary{
    //                 width: 100%;
    //                 display: flex;
    //                 // align-items: center;
    //                 justify-content: space-between;
    //                 gap: 1.2rem;
    //                 // overflow-x:auto;
    //             .imagesAll{
    //                width: 80%;
    //                display: flex;
    //                justify-content: space-between;
    //                 img{
    //                     width: 70%;
    //                     height: 50%;
    //                     object-fit: cover;
    //                 }
    //             }
    //         }
            

    //     }
    // }


    


}


