$font-color: #572444;

@font-face{
  font-family: 'h1Font';
  src: url('../src/assets/font/PTSerif-Bold.ttf');

}

@mixin buttonStyle{
         border: 2px solid #111;
        padding: 0.8rem 1rem ;
        border-radius: 50px;
        font-size: 0.9rem;
        font-weight: 600;
        font-family: 'firstFont';
        transform: translateY(-40%);

        .arrow {
            
            background: $font-color;
            color: #fff;
            padding: 10px;
            border-radius: 50px;
            margin-right: -10px;
            margin-left: 1.5rem;
        }
}


.section-4{
        margin-top: 5rem;

        .section4-main{
            .section4-leftBox{
                 .parent-1{
                    padding: 0 1rem;
                    span{
                        background: #e3c7d8;
                        padding: 0.5rem 1rem;
                        border-radius: 50px;
                        font-weight: 600;
                        
                    }
                    h1{
                        font-size: 1.9rem;
                        color:#431331;
                        margin:  0.7rem 0 ; 
                        text-align: left;
                    }
                    h3{
                        color: #28091a;
                        margin: 0;
                        padding: 0;
                    }
                    p{
                        padding-top: 0.7rem;
                        font-size: 1rem;
                        font-weight: 700;
                        margin: 0;
                    }
                }

                .parent-2{

                    .flower{
                        width: 30vw;
                        transform: translateX(70vw);
                        margin-bottom: -3rem;
                    }

                    .bg-img{
                        width: 100vw;
                    }

                    button{
                        // z-index: 999;
                        margin-top: -5rem;
                        position: absolute;
                        transform: translateX(40vw);
                        border: 2px solid #111;
                        padding: 0.8rem 1rem ;
                        border-radius: 50px;
                        font-size: 1rem;
                        font-weight: 800;
                        font-family: 'firstFont';
                        // transform: translateY(-40%);

                        .arrow {
                                        
                            background: $font-color;
                            color: #fff;
                            padding: 10px;
                            border-radius: 50px;
                            margin-right: -10px;
                            margin-left: 1.5rem;
                        }
            
                    }
                }
            }


            .section4-rightBox{
                display: none;
            }

        }

    }