@font-face {
  font-family: "h1Font";
  src: url("../src/assets/font/PTSerif-Bold.ttf");
}
.section-4 {
  margin-top: 5rem;
}
.section-4 .section4-main .section4-leftBox .parent-1 {
  padding: 0 1rem;
}
.section-4 .section4-main .section4-leftBox .parent-1 span {
  background: #e3c7d8;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-weight: 600;
}
.section-4 .section4-main .section4-leftBox .parent-1 h1 {
  font-family: "h1Font";
  font-size: 1.9rem;
  color: #431331;
  margin: 0.7rem 0;
  text-align: left;
}
.section-4 .section4-main .section4-leftBox .parent-1 h3 {
  color: #28091a;
  margin: 0;
  padding: 0;
}
.section-4 .section4-main .section4-leftBox .parent-1 p {
  padding-top: 0.7rem;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}
.section-4 .section4-main .section4-leftBox .parent-2 .flower {
  width: 30vw;
  transform: translateX(70vw);
  margin-bottom: -3rem;
}
.section-4 .section4-main .section4-leftBox .parent-2 .bg-img {
  width: 100vw;
}
.section-4 .section4-main .section4-leftBox .parent-2 button {
  display: block;
  margin-top: -5rem;
  position: absolute;
  transform: translateX(40vw);
  border: 2px solid #111;
  padding: 0.8rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 800;
  font-family: "firstFont";
}
.section-4 .section4-main .section4-leftBox .parent-2 button .arrow {
  background: #572444;
  color: #fff;
  padding: 10px;
  border-radius: 50px;
  margin-right: -10px;
  margin-left: 1.5rem;
}
.section-4 .section4-main .section4-rightBox {
  display: none;
}

@media (min-width: 900px) {
  .section-4 {
    margin-top: 10rem;
    padding: 0 3rem;
  }
  .section-4 .section4-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  .section-4 .section4-main .section4-leftBox {
    width: 50%;
  }
  .section-4 .section4-main .section4-leftBox .parent-1 h1 {
    font-size: 4rem;
  }
  .section-4 .section4-main .section4-leftBox .parent-2 {
    position: relative;
  }
  .section-4 .section4-main .section4-leftBox .parent-2 .flower {
    width: 15vw;
    position: absolute;
    transform: translateX(28vw);
    top: -50%;
  }
  .section-4 .section4-main .section4-leftBox .parent-2 .bg-img {
    margin-top: 6rem;
    width: 40vw;
  }
  .section-4 .section4-main .section4-leftBox .parent-2 button {
    display: none;
  }
  .section-4 .section4-main .section4-rightBox {
    display: block;
    width: 50%;
  }
  .section-4 .section4-main .section4-rightBox .rightBox-parent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .section-4 .section4-main .section4-rightBox .rightBox-parent .image {
    margin-top: 0;
  }
  .section-4 .section4-main .section4-rightBox .rightBox-parent .image img {
    width: 100%;
  }
  .section-4 .section4-main .section4-rightBox .rightBox-parent .description p {
    font-size: 1.2rem;
    font-weight: 600;
  }
  .section-4 .section4-main .section4-rightBox .rightBox-parent .description button {
    margin-top: 2rem;
    border: none;
    background-color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
  }
  .section-4 .section4-main .section4-rightBox .rightBox-parent .description button i {
    margin-left: 1.2rem;
    border: 2px solid #000;
    padding: 0.7rem;
    border-radius: 50%;
  }
}/*# sourceMappingURL=EnergySection.css.map */