$font-color: #572444;

@font-face{
  font-family: 'h1Font';
  src: url('../src/assets/font/PTSerif-Bold.ttf');

}

@mixin buttonStyle{
         border: 2px solid #111;
        padding: 0.8rem 1rem ;
        border-radius: 50px;
        font-size: 0.9rem;
        font-weight: 600;
        font-family: 'firstFont';
        transform: translateY(-40%);

        .arrow {
            
            background: $font-color;
            color: #fff;
            padding: 10px;
            border-radius: 50px;
            margin-right: -10px;
            margin-left: 1.5rem;
        }
}

   .section-3{
        // width: 96vw;
        margin-top: 4rem;


        .top-bar{

            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;

                h1{
                    font-size: 1.6rem;
                    margin-bottom: 0.1rem;
                    margin-left: -2rem;
                    color:#431331;
                    font-family: 'h1Font';
                    // text-align: center;
                }

                .Expire{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // gap: 1.9rem;
                    margin-bottom: 1.2rem;
                    padding-top: 0rem;

                    img{
                        width: 13vw;
                        padding: 0;
                    }
                    p{
                        font-size: 1.1rem;
                        font-weight: 500;
                        margin-top: 0.5rem;
                    }
                }
        }
  

        .flavor-card{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
                gap: 1rem;

            .card{
                
                // width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                span{
                    border-radius: 50px;
                    background: #fff;
                    padding: 0 1rem;
                    margin-top: 1rem; 
                    margin-right: -15rem;
                    font-size: 1.2rem;

                    i{
                        color: orange;
                        margin-left: -0.5rem;
                    }
                }
                
                button{
                    padding: 1rem;
                    font-size: 1rem;
                    font-family: 'firstFont';
                    font-weight: 600;
                    border: none;
                    margin-top: -5rem;
                    width: 80%;
                    margin-bottom: 1rem;
                    cursor: pointer;

                    
                }
                
            }

            .card-1{
                background-color: #5c76f3;
            }
            .card-2{
                background-color: #d8973a;
            }
            .card-3{
                background-color: #f35cb2;
            }
        }
    }



//  responsive part 

@media (min-width: 900px) {
    .section-3{
        padding: 0 3rem;
        .top-bar{
            flex-direction: row;
            margin-bottom: 2rem;
            h1{
                font-size: 3.5rem;
                margin-bottom: 1.5rem;
                margin-left: 0rem;
            }

            .Expire{
                width: 35%;
                margin-bottom: 0rem;

                img{
                    width: 8vw;
                    padding: 0;
                }
                p{
                    font-size: 1.4rem;
                    font-weight: 600;
                }
            }
        }

        // .flavor-card{
        //     flex-direction: row;
        //     gap: 3rem;

        //     .card{

        //     }
        // }
    }
}