

$font-color: #572444;

@font-face{
  font-family: 'h1Font';
  src: url('../src/assets/font/PTSerif-Bold.ttf');

}

@mixin buttonStyle{
         border: 2px solid #111;
        padding: 0.8rem 1rem ;
        border-radius: 50px;
        font-size: 0.9rem;
        font-weight: 600;
        font-family: 'firstFont';
        transform: translateY(-40%);

        .arrow {
            
            background: $font-color;
            color: #fff;
            padding: 10px;
            border-radius: 50px;
            margin-right: -10px;
            margin-left: 1.5rem;
        }
}

    .header-section{
        width: 100%;
          position: relative;
          background: linear-gradient(#f9e3f1, #fdeffd, #fffdff );
          background-repeat: no-repeat;
         .section-1{
            overflow: hidden;
                .child-div-1{
                    margin-top: 4.5rem;
                    h1{
                        font-family: 'h1Font';
                        font-size: 3.3rem;
                        // line-height: 6rem;
                        color: $font-color;


                        button{
                            display: none;
                            @include buttonStyle;  
                        }
                    }

                    p{
                        display: none;
                        text-align: center;
                        font-size: 1.2rem;
                        margin-top: -2rem;
                        bold{
                            font-weight: 600;
                        }
                    }

                    .str{
                        position: absolute;
                        top: 4rem;
                        right: 1rem;

                        img{
                            width: 22vw;
                            margin-bottom: -1rem;
                        }
                    }

                }

                .header-bottom{
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    flex-direction: column;

                    gap: 1rem;
                    margin-top: 4rem;
                    margin-bottom: -5rem;
                    
                    .bt-left{
                        display: none;
                        width: 13vw;
                        .left-img{
                        
                            img{
                                width: 3vw;
                                height: 3vw;
                                object-fit: cover;
                                border-radius: 50%;
                            }

                            .img-2{
                                margin-left: -0.5rem;
                            }
                        }

                    
                        h3{
                            line-height: 25px;
                            margin: 0.7rem 0;
                            color: #572444;
                        }
                        p{
                            font-size: 13px;
                            margin: 0.7rem 0;
                            font-weight: 600;
                            color: #431331;
                        }
                        
                    }

                    .bt-center{
                       margin-top: -4rem;
                       margin-bottom: 7rem;
                        .ctn-iamge{
                            img{
                                width: 90vw;
                                // height: 60vh;
                            }
                        }
                    }
                    

                    .bt-right{
                        transform: translateY(-50%);
                        margin-left: -7rem;
                        margin-bottom: 3rem;
                        div{
                            //  padding: 5rem 0;
                             
                            i{
                                color:#ffa1d5;
                                background-color: #fff;
                                padding: 1rem;
                                border-radius: 50%;
                                font-size: 1.3rem;
                            }
                            p{
                                font-weight: 600;
                            }

                            .btn{
                                button{
                                    color: #111;
                                    padding: 0.6rem 1rem;
                                    margin: 0.2rem;
                                    border-radius: 50px;
                                    border:none;
                                    outline: none;
                                    text-transform: uppercase;
                                    font-weight: 700;
                                    font-family: firstFont;
                                }
                                .btn-1{
                                    background-color:#e3c7d8
                                }
                                .btn-2{
                                    background-color:#f5b864
                                }
                                .btn-3{
                                    background-color:#ffa1d5;
                                    color: #5c0e3e
                                }
                                .btn-4{
                                    background-color:#87d1f0
                                }
                            }
                        }
                    }

                }
            }

        .section-2{
            // width: 96vw;
            overflow: hidden;
            background: #ffffff;
            border-top: 1px solid #3e3e3e !important;
           


            .wrapper{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column ;
                gap: 5rem;
                // padding-bottom: 10rem;
                overflow:hidden;
                height: 90vh;
                

                .left-div{

                    transform: translateY(120%);
                
                    img{
                        width: 90vw;
                        transform: rotate(-15deg);
                    }
                }

                
                .center-div{
                    position: absolute;
                    text-align: center;
                    padding-top: 9rem;
                    z-index: 999;


                    small{
                        background-color: #e3c9d8;
                        padding: 0.3rem 1rem;
                        border-radius: 50px;
                        font-size: 0.9rem;
                        font-weight: 600;
                    }


                    h1{
                        font-family: "h1Font";
                        font-size: 3rem;
                        color: #572444;
                        line-height: 3.5rem;
                        margin: 1rem 0;
                        padding: 0 0.4rem;
                    }

                    p{
                        color: #28091a;
                        font-weight: 600;
                        font-size: 1.1rem;
                        text-align: center;
                        padding: 0 2rem;
                    }


                    img{
                        position: absolute;
                        width: 20vw;
                    }
                    .image-1{
                        display: block;
                        bottom: 7rem;
                        right: 1rem;
                    }

                    .image-2{
                        text-align: center;
                        top:5.5rem;
                        right: 35vw;

                    }


                    button{
                        @include buttonStyle;
                        margin-top: 10rem;
                    }

                }


                .right-div{
                    
                    transform: translateY(-150%);
                img{
                    width: 90vw;
                    margin-right: -15rem;
                    transform: rotate(20deg);
                }
                }
            }

            
        }
    }




@media (min-width: 900px) {
    .header-section{
        .child-div-1{
            margin-top: 4.5rem;
            div{
                .str{
                    position: fixed;
                    margin-top: 7rem;
                    left: 20vw;

                    img{
                        width: 12vw !important;
                    }

                }
                h1{
                    font-family: 'h1Font';
                    font-size: 5rem !important;
                    // line-height: 6rem;
                    color: $font-color;

                   .h1-second{
                        padding-left: 12rem;

                        button{
                            display: inline-block !important;
                            @include buttonStyle;  
                            font-size: 1.1rem;
                        }
                   }

                }
            }

            p{
                display: block !important;
                font-size: 1.5rem !important;
                padding-top: 1rem;
            }
            
         }

        .header-bottom{

            flex-direction:row !important;
             margin-bottom: -11.7rem !important;

            .bt-left{
                display: block !important;
                width: 20vw !important;
                padding-bottom: 5rem !important;
            }

             .bt-center{
                margin-top: -4rem;
                margin-bottom: 7rem;
                .ctn-iamge{
                    img{
                        width: 40vw !important;
                        // height: 60vh;
                    }
                }
            }


            .bt-right{
                    transform: translateY(-50%);
                    margin-left: 0 !important;
                    margin-bottom: 0 !important;

            }

        }

        .section-2{
            .wrapper{
                
                flex-direction: row ;
                height: 90vh;

                 .left-div{
                    transform: translateY(0%);
                
                    img{
                        width: 50vw;
                        margin-bottom: -32rem;
                        margin-left: -25rem;
                        transform: rotate(-15deg);
                    }
                }
                
                .center-div{
                    width:45vw;
                     padding-top: 0rem;

                    small{
                        background-color: #e3c9d8;
                        padding: 1rem;
                        border-radius: 50px;
                        font-size: 0.9rem;
                        font-weight: 600;
                    }


                    h1{
                        font-family: "h1Font";
                        font-size: 4rem;
                        color: #572444;
                        line-height: 4.5rem;
                        margin: 2.5rem 0;
                        padding: 0 0.4rem;
                    }

                    p{
                        color: #28091a;
                        font-weight: 600;
                        font-size: 1.4rem;
                        text-align: center;
                        padding: 0 2rem;
                    }


                    img{
                        position: absolute;
                        width: 10vw;
                    }
                    .image-1{
                        display: none;
                    }

                    .image-2{
                        top: 25rem;
                        right: -12rem;

                    }


                    button{
                        @include buttonStyle;
                        margin-top: 3rem;
                        padding: 0.8rem 1rem ;
                        border-radius: 50px;
                        font-size: 1rem;
                    }

                }




               


                .right-div{
                    
                    margin-right: -17rem;
                    transform: translateY(-10%);

                    img{
                        width: 50vw;
                        margin-top: -20rem;
                        transform: rotate(20deg);
                    }
                }

            }
        }


        
    }
}