
$primary-color: #f4cfe6;

@font-face{
  font-family: 'firstFont';
  src: url('../src/assets/font/NotoSansGeorgian-VariableFont_wdth,wght.ttf');

}



body {
  font-family:  'firstFont';
  


  h1 {
    font-size: 2rem;
    text-align: center;
  }
}

// .main-app{

// }