
$primary-color: #f4cfe6;

@font-face{
  font-family: 'firstFont';
  src: url('../src/assets/font/Poppins-Regular.ttf');

}



body {
  font-family:  'firstFont';
  background: linear-gradient(#f9e3f1, #fdeffd, #fffdff );
  background-repeat: no-repeat;


  h1 {
    font-size: 2rem;
    text-align: center;
  }
}

.main-app{
  padding: 0 5rem;
}